* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #222;
    position: relative;
}
.scene {
    position: relative;
    height: 60vh;
    width: 86vw;
    margin: 2em auto 1em 9vw;
    background: white;
}
.start {
    color: white;
    font-family: monospace;
    font-size: 1.7em;
    position: absolute;
    left: -3em;
    bottom: 1em;
    transform: rotate(270deg);
}
.horizon {
    width: 99%;
    height: 1px;
    border-top: 1px solid #222;
    position: absolute;
    bottom: 17vh;
}
#stop {
    width: 11vw;
    height: 11vw;
    border-radius: 50%;
    background-color: yellow;
    text-align: center;
    padding: 1em;
    padding-top: 2vw;
    font-family: monospace;
    font-weight: bold;
    font-size: 2.2vw;
    line-height: .8em;
    position: absolute;
    right: 3vw;
    top: 63vh;
}
.buttonArea {
    width: 75vw;
    margin-left: 9vw;
}
button {
    width: 19%;
    min-width: 100px;
    height: 3em;
    margin-top: .5em;
    border: 1px dotted black;
    background-color: #ccc;
    border-radius: .5em;
}
img, img.stop {
    z-index: 1;
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    position: absolute;
    bottom: 17vh;
    margin-left: -7vw; /*out of scene, but visible on page*/
    box-sizing: content-box; /* so when glow, ball doesn't change size, glowing border will be added to the outside*/
}
/* animations */
.move {
    animation: move 4s linear forwards;
}
@keyframes move {
    to {
        transform: translate(93vw, 0) rotate(1800deg);
    }
}
.moveTo30 {
    animation: moveTo30 1.2s forwards cubic-bezier(0, 0, 0.4, 1.13);
}
@keyframes moveTo30 {
    to {
        transform: translateX(30vw) rotate(540deg);
    }
}
.moveFrom30 {
    animation: moveFrom30 2.8s forwards cubic-bezier(0.65, 0, 0.87, 1.07);
}
@keyframes moveFrom30 {
    0% {
        transform: translateX(30vw) rotate(540deg);
    }
    100% {
        transform: translateX(100vw) rotate(1260deg);
    }
}
.oneJump {
    animation: oneJump .7s linear forwards;
}
@keyframes oneJump {
    0% {
        transform: translate(50vw, 0) rotate(0);
    }
    50% {
        transform: translate(50vw, -37vh) rotate(180deg);
    }
    100% {
        transform: translate(50vw, 0) rotate(360deg);
    }
}
.shadow {
    display: none;
}
/*
.shadow {
    display: inherit;
    position: absolute;
    top: 56vh;
    left: 46vw;
    width: 43px;
    height: 17px;
    background-color: #313131;
    border-radius: 50%;
    animation: shadow 1s linear infinite;
}
@keyframes shadow {
    0% {
        transform: scale(1);
        opacity: .7;
    }
    50% {
        transform: scale(.3);
        opacity: .3;
    }
}
*/
.jump {
    animation: jump 1s cubic-bezier(0.11, 0.9, 0.83, 1.04) infinite forwards;
}
@keyframes jump {
    0% {
        transform: translate(50vw, 0) scale(1);
    }
    50% {
        transform: translate(50vw, -33vh) rotate(180deg) scale(.95);
    }
    55% {
        transform: translate(50vw, -30vh) rotate(198deg) scale(.98);
    }
    90% {
        transform: translate(50vw, 0vh) rotate(324deg) scale(1);
    }
    95% {
        transform: translate(50vw, -.5vh) rotate(360deg) scale(1.2, .7);
    }
    100% {
        transform: translate(50vw, -1vh) rotate(360deg) scale(1.5, .5);
    }
}
.fade {
    animation: fade 3.7s ease-out forwards;
}
@keyframes fade {
    0% {
        transform: translate(30vw, 0);
        opacity: 1;
    }
    100% {
        transform: translate(30vw);
        opacity: 0;
    }
}
div.bgfade {
    animation: darkenBackground .1s forwards;
}
@keyframes darkenBackground {
    to {
        background: #111;
    }
}
.glow {
    animation: glow 2.4s infinite ease-out;
}
@keyframes glow {
    0% {
        opacity: .5;
        border: 1px dashed rgba(255,255,0, .2);
        transform: translate(30vw, 0);
    }
    25% {
        opacity: 1;
        border: 1vw solid rgba(255,255,0, .5);
        transform: translate(29vw, 1vw); /* adjust position according to border width so ball doesn't move, content-box sizing  */
    }
    50% {
        opacity: .2;
        border: 1px dashed rgba(255,255,0, .2);
        transform: translate(30vw, 0);
    }
    75% {
        opacity: 1;
        border: 1vw solid rgba(255,255,0, .5);
        transform: translate(29vw, 1vw);
    }
    100% {
        opacity: .5;
        border: 1px dashed rgba(255,255,0, .2);
        transform: translate(30vw, 0);
    }
}
div.bgglow {
    animation: darkenBackground 1s forwards;
}
