* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #222;
    position: relative;
}
footer {
    margin-top: 1em;
    padding-bottom: 1em;
    padding-left: 7vw;
    font-family: serif;
    font-weight: bold;
}
address {
    display: inline;
    margin-left: 1em;
}
address img {
    height: 1em;
    margin-left: -.5em;
    width: auto;
}
a, a:visited{
    color: #111;
    text-decoration: none;
    cursor: crosshair;
}
.scene {
    position: relative;
    height: 60vh;
    width: 86vw;
    margin: 2em auto 1em 7vw;
    background: white;
    overflow: hidden;
}
.volumeControl {
    width: 5vw;
    min-width: 50px;
    height: 5vw;
    min-height: 50px;
    position: absolute;
    bottom: 1em;
    right: 1em;
}
img#volumeOn, img#volumeOff {
    width: 77%;
    height: 77%;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 1;
    display: none;
}
.horizon {
    width: 99%;
    height: 1px;
    border-top: 1px solid #222;
    position: absolute;
    bottom: 17.5vh;
}
.scene img, img.stop { /*the first ball*/
    z-index: 1;
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    position: absolute;
    bottom: 17vh;
    margin-left: -7vw; /*out of scene */
}
.ballWrapper, .fakeBallWrapper {
    width: 7vw;
    height: 7vw;
    position: absolute;
    left: -7vw;
    bottom: 17vh;
    margin: 0;
    padding: 0;
    display: inline;
}
.fakeBallWrapper { /* lazy solution, in mirror animation, show fakeball as original and mirror the real ball to other location*/
    background-image: url("image/ball.png");
    background-size: contain;
    background-repeat: no-repeat;
}
img#ball2, img#ball3 {
    width: 100%;
    margin: 0;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
}
.shadow, .blood, .wind, .directionControl {
    display: none; /* not all animation has these elements */
}
.shadowjump, .shadowoneJump {
    display: inherit;
    position: absolute;
    top: 42.5vh;
    left: 24.5vw;
    width: 4vw;
    height: 1vh;
    background-color: #313131;
    border-radius: 50%;
    opacity: 1;
}
#stop {
    z-index: 1;
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    background-color: yellow;
    text-align: center;
    padding: 1vw;
    padding-top: 3vw;
    font-family: monospace;
    font-weight: bold;
    font-size: 2.2vw;
    line-height: 2vw;
    position: absolute;
    right: 3vw;
    top: 67vh;
}
.buttonArea {
    width: 75vw;
    margin-left: 7vw;
    margin-bottom: 1em;
}
.buttonArea p {
    color: #777;
}
button {
    width: 19%;
    min-width: 100px;
    height: 3em;
    vertical-align: middle;
    margin-top: .5em;
    border: 1px dotted black;
    background-color: #ccc;
    border-radius: .5em;
}
button:focus {
    color: white;
}
.codeAndUnfinished {
    background: black;
    margin-top: 1em;
    padding: 2em;
    padding-left: 7vw;
    height: auto;
    position: relative;
    color: #bbb;
}
h2 {
    margin-bottom: 1em;
    color: #777;
    font-weight: bold;
}
h3 {
    font-size: 1.7em;
    margin-bottom: .3em;
}
.note {
    height: 2em;
    width: 83vw;
    overflow: hidden;
    cursor: crosshair;
}
.note.clicked {
    animation: toggleNoteArea .7s ease-in forwards;
}
@keyframes toggleNoteArea {
    to {
        height: auto;
    }
}
.js img {
    width: 643px;
}
ul {
    list-style: circle;
}
li {
    margin-bottom: .3em;
    margin-left: 2em;
}
/* animations */
.move {
    animation: move 4s linear forwards;
}
@keyframes move {
    to {
        transform: translate(93vw, 0) rotate(1440deg);
    }
}
.moveTo30 {
    animation: moveTo30 .23s .13s forwards cubic-bezier(0, 0, 0.5, 1.3);
}
@keyframes moveTo30 {
    to {
        transform: translateX(30vw) rotate(367deg);
    }
}
.moveFrom30 {
    animation: moveFrom30 4s forwards cubic-bezier(0.65, 0, 0.68, 1.27);
}
@keyframes moveFrom30 {
    0% {
        transform: translateX(30vw) rotate(367deg) scale(1);
    }
    100% {
        transform: translateX(84.2vw) rotate(1240deg) scale(1);
    }
}
.windmoveFrom30 {
    display: inherit;
    width: 11vw;
    height: 6vw;
    position: absolute;
    top: 34vh;
    left: 0vw;
    background-image: url("image/wind.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: wind 2s forwards;
;
}
@keyframes wind {
    0% {
        opacity: .2;
        transform: translateX(-8vw);
        animation-timing-function: ease-in;
    }
    43% {
        opacity: .5;
        transform: translateX(3vw);
        animation-timing-function: ease-in;
    }
    100% {
        opacity: 0;
        transform: translateX(31vw);
        animation-timing-function: cubic-bezier(0, 0, 0, 1);
    }
}
.oneJump {
    animation: oneJump 1s forwards;
}
@keyframes oneJump {
    0%, 10% {
        transform: translate(30vw, 0);
        animation-timing-function: cubic-bezier(0,0,0,1);
    }
    5% {
        transform: translate(30vw, 0) scale(1.5, .6);
        transform-origin: bottom;
        animation-timing-function: cubic-bezier(1,0,1,1);
    }
    45% {
        transform: translate(30vw, -33vh);
        animation-timing-function: cubic-bezier(1,0,1,1);
    }
    90% {
        transform: translate(30vw, 0);
        animation-timing-function: ease-out;
    }
    93% {
        transform: translate(30vw, .5vh) scale(1.1, .9);
        animation-timing-function: ease-in;
    }
    100% {
        transform: translate(30vw, 0) scale(1);
    }
}
.shadowoneJump {
    animation: shadowOne 1s cubic-bezier(0,-0.01, 0.07, 1);
}
@keyframes shadowOne {
    0%, 10%, 100% {
        transform: scale(1);
        opacity: .8;
        animation-timing-function: cubic-bezier(0,0,0,1);

    }
    5% {
        transform: scale(1.5);
        opacity: .9;
        animation-timing-function: cubic-bezier(1,0,1,1);

    }
    45% {
        transform: scale(.3);
        opacity: .5;
        animation-timing-function: cubic-bezier(1,0,1,1);
    }
    90% {
        transform: scale(1);
        opacity: .8;
        animation-timing-function: ease-out;
    }
    93% {
        transform: scale(1.1);
        opacity: 1;
        animation-timing-function: ease-in;
    }
}
.jump {
    animation: jump 1s infinite;
}
@keyframes jump {
    0% {
        transform: translate(30vw, -37vh) scale(.95);
        animation-timing-function: cubic-bezier(1,0,1,1);
    }
    45% {
        transform: translate(30vw, .3vh);
        animation-timing-function: cubic-bezier(1,0,1,1);
    }
    50% {
        transform: translate(30vw, .4vh) scale(1.2, .8);
        animation-timing-function: ease-out;
    }
    55% {
        transform: translate(30vw, 1.3vh) scale(1.4, .7);
        animation-timing-function: ease-in;
    }
    60% {
        transform: translate(30vw, .4vh) scale(.9, 1.1);
        animation-timing-function: cubic-bezier(0,0,0,1);
    }
    100% {
        transform: translate(30vw, -37vh) scale(.95);
    }
}
.shadowjump {
    animation: shadow 1s infinite;
}
@keyframes shadow {
    0% {
        transform: scale(.7);
        opacity: .3;
        animation-timing-function: cubic-bezier(1,0,1,1);
    }
    45% {
        transform: scale(1.3);
        opacity: .8;
        animation-timing-function: cubic-bezier(1,0,1,1);
    }
    50%, 60% {
        transform: scale(1.7);
        opacity: .9;
        animation-timing-function: cubic-bezier(0,0,0,1);
    }
    55% {
        transform: scale(2);
        opacity: 1;
        animation-timing-function: ease-in;
    }
    100% {
        transform: scale(.7);
        opacity: .3;
    }
}
.fade {
    animation: fade 3s ease-out forwards;
}
@keyframes fade {
    0% {
        transform: translate(30vw, 0);
        opacity: 1;
    }
    100% {
        transform: translate(30vw, 0);
        opacity: 0;
    }
}
div.bgfade {
    animation: darkenBackground 2s ease-out forwards;
}
@keyframes darkenBackground {
    to {
        background: #111;
    }
}
.glow {
    animation: glow 2.4s infinite ease-out;
}
@keyframes glow {
    0%, 100% {
        transform: translate(30vw, 0);
        opacity: .5;
        filter: drop-shadow(0);
    }
    50% {
        transform: translate(30vw, 0);
        filter: drop-shadow(0 -.5vw 3vw rgba(255,255,0, .5));
        opacity: .7;
    }
}
div.bgglow {
    animation: darkenBackground 1s forwards;
}
#ball.onStage {
    margin-left: 23vw;
}
.fallDown {
    animation: fallDawn .8s cubic-bezier(1, 0, .93, .73) forwards;
}
@keyframes fallDawn {
    0%, 30% {
        transform: translate(30vw, 0) rotateY(0);
    }
    15% {
        transform: translate(30vw, 0) rotateY(17deg);
    }
    100% {
        transform: translate(30vw, 0) rotateY(-34deg) rotateX(89deg);
        transform-origin: bottom;}
}
.bloodfallDown {
    animation: blood .5s 1s forwards;
}
@keyframes blood {

}
.shake {
    animation: shake .08s ease-in 5 forwards;
}
@keyframes shake {
    0%, 100% {
        transform: translate(30vw, 0);
    }
    50% {
        transform: translate(30.4vw, 0);
    }
}
.mirror {
    animation: mirror .10s ease-in forwards;
}
@keyframes mirror {
    0% {
        transform: translate(30vw, 0) scale(1, 1);
    }
    70% {
        transform: translate(53vw, 0) scale(.5, 1);
        opacity: .5;
    }
    80% {
        transform: translate(57vw, 0) scale(0, 1);
        opacity: 0;
    }
    90% {
        transform: translate(60vw, 0) scale(-.5, 1);
        opacity: .5;
    }
    100% {
        transform: translate(62vw, 0) scale(-1, 1);
        opacity: 1;
    }
}
.sneak {
    animation: sneak 10s forwards;
}
@keyframes sneak {
    0% {
        transform: translate(0, 0) scale(1);
        border: none;
    }
    10%, 12%, 14%, 16% {
        transform: translate(15vw, 0) scale(1) rotate(60deg);
        animation-timing-function: ease-in;
        border: none;
    }
    11%, 13%, 15% {
        transform: translate(15vw, -1vh) scale(.8, 1.2) rotate(60deg);
        animation-timing-function: ease-out;
        border: none;
    }
    19% {
        transform: translate(17vw, -5vh) scale(1) rotate(60deg);
        animation-timing-function: ease-in;
        border: none;
    }
    21% {
        transform: translate(19vw, 1vh) scale(1.1) rotate(60deg);
        animation-timing-function: ease-in;
        border: none;
    }
    23% {
        transform: translate(21vw, -3vh) scale(1.1) rotate(60deg);
        animation-timing-function: ease-in;
        border: none;
    }
    25% {
        transform: translate(23vw, 4vh) scale(1.2) rotate(60deg);
        animation-timing-function: ease-out;
        border: none;
    }
    27% {
        transform: translate(26vw, -1vh) scale(1.2) rotate(60deg);
        animation-timing-function: ease-in;
        border: none;
    }
    28% {
        transform: translate(29vw, 9vh) scale(1.5) rotate(60deg);
        animation-timing-function: ease-in;
        border: none;
    }
    45% {
        transform: translate(33vw, 9vh) scale(1.5) rotate(90deg);
        animation-timing-function: ease-out;
        border: none;
    }
    51% {
        transform: translate(45vw, 10vh) scale(2.4, .5) rotate(90deg);
        animation-timing-function: ease-out;
        border: none;
    }
    52% {
        transform: translate(50vw, 9vh) scale(1.5) rotate(90deg);
        animation-timing-function: ease-in;
        border: none;
    }
    53% {
        transform: translate(70vw, 5vh) scale(1.2) rotate(1080deg);
        border: none;
        animation-timing-function: ease-in;
    }
    63% {
        transform: translate(120vw, -10vh) scale(.9) rotate(1800deg);
        animation-timing-function: ease-in;
    }
    77% {
        transform: translate(70vw, -15vh) scale(.5) rotate(-240deg);
        animation-timing-function: ease-in;
        border: 3px solid rgba(255,255,0, .5);
    }
    80% {
        transform: translate(68vw, -18vh) scale(.5) rotate(-480deg);
        animation-timing-function: ease-in;
        border: 3px solid rgba(255,255,0, .5);
    }
    83% {
        transform: translate(66vw, -15vh) scale(.5) rotate(-720deg);
        animation-timing-function: ease-in;
        border: 3px solid rgba(255,255,0, .5);
    }
    86% {
        transform: translate(64vw, -18vh) scale(.5) rotate(-960deg);
        animation-timing-function: ease-in;
        border: 3px solid rgba(255,255,0, .5);
    }
    89% {
        transform: translate(62vw, -15vh) scale(.5) rotate(-1200deg);
        animation-timing-function: ease-in;
        border: 3px solid rgba(255,255,0, .5);
    }
    93% {
        transform: translate(36vw, -25vh) scale(.3) rotate(-2400deg);
        animation-timing-function: ease-in;
        border: 7px solid rgba(255,255,0, .5);
    }
    100% {
        transform: translate(0, -30vh) scale(0) rotate(-4800deg);
        animation-timing-function: ease-in;
        border: 11px solid rgba(255,255,0, .5);
    }
}
div.bgsneak {
    animation: darkenBackground .5s 6s forwards;
}
